#title {
    text-decoration: underline;
}

.data {
    border-radius: 200px;
}

.button {
    color: red;
}

body {
    background-image: linear-gradient(to right, navy, black);
}

#image {
    padding-top: 20px;
    text-align: center;
}